.control {
  width: rem(150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  transition: background-color 150ms ease;

  @mixin light {
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: calc(100% - 60px);
  }

  &[data-expanded] {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}

.label {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);

  [data-expanded] & {
    transform: rotate(180deg);
  }
}

.dropdown {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  z-index: 10100 !important;
}
