@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
}

main {
  box-sizing: border-box;
  margin-top: rem(70px);
  padding: rem(40px) 0;
  background-color: inherit;
}
