@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
}

main {
  box-sizing: border-box;
  margin-top: rem(70px);
  padding: rem(40px) 0;
  background-color: inherit;
  min-height: calc(100dvb - rem(70px) - rem(99px));

  @media (max-width: $mantine-breakpoint-xs) {
    min-height: calc(100dvb - rem(70px) - rem(143px));
  }
}

.container {
  /* min-height: 500px; */
  min-height: calc(100dvb - rem(70px) - rem(99px) - rem(40px) - rem(40px));

  @media (max-width: $mantine-breakpoint-xs) {
    min-height: calc(100dvb - rem(70px) - rem(143px) - rem(40px) - rem(40px));
  }
}

.fancybox-image {
  border-radius: var(--mantine-radius-md);
}

.mantine-Modal-title {
  font-weight: bold !important;
}
