.studentCard {
  position: relative;
  background-color: var(--mantine-color-body);
  color: var(--text-color);
}

.hovered {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}
